/* 전체 body 스타일 */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    font-weight: bold;

}

.nav-link{
    color: black;
    font-weight: bold;

}

.d-flex{
    display: flex;
    justify-content: center;
}

.nav-items{
    display: flex;
    align-items: flex-end;
}

/* header 스타일 */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

/* main 요소 스타일 */
main {
    padding: 1em;
    display: flex;
    align-items: center;
    min-height: 50vh;
    margin-bottom: 0;
    justify-content: center;
}

/* 팀원 목록 스타일 */
.team-members {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    justify-content: center;
    gap: 30px;
}

/* 각 팀원 카드 스타일 */
.member {
    border: 1px solid #ccc;
    padding: 1em;
    text-align: center;
}

.member img {
    max-width: 100%;
    border-radius: 50%;
}

.mamber{
    display: flex;
    justify-content: center
}

.card {
    display: flex;
    margin: 10px;
    align-items: center;
}

.reply-form__info{
    display: flex;
    justify-content: center;
}

.reply-form-textarea-wrapper{
    display: flex;
    justify-content: center;
}

.reply-form__submit-button-wrapper{
    display: flex;
    align-items: 0;
}
/* footer 스타일 */
footer {
    text-align: center;
    padding-bottom: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}