/* 전체 body 스타일 */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    font-weight: bold;

}

.dropdown{
    margin: 5px;
}

.nav-link{
    color: black;
    font-weight: bold;

}

.d-flex{
    display: flex;
    justify-content: center;
}

.nav-items{
    display: flex;
    align-items: flex-end;
}

/* header 스타일 */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.teamname{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 10vh;
    margin-bottom: 0;
    height: 10vh;
}

/* main 요소 스타일 */
main {
    padding: 1em;
    display: flex;
    align-items: center;
    min-height: 50vh;
    margin-bottom: 0;
    margin-top: 1px;
    padding-top: 1px;
    justify-content: center;
}

/* 팀원 목록 스타일 */
.team-members {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    justify-content: center;
    gap: 30px;
}

/* 각 팀원 카드 스타일 */
.member {
    border: 1px solid #ccc;
    padding: 1em;
    text-align: center;
}

.member img {
    max-width: 100%;
    border-radius: 50%;
}

.mamber{
    display: flex;
    justify-content: center
}

.card {
    display: flex;
    margin: 1px;
    align-items: center;
}

.reply-form__info{
    display: flex;
    justify-content: center;
}

.reply-form-textarea-wrapper{
    display: flex;
    justify-content: center;
}

.reply-form__submit-button-wrapper{
    display: flex;
    align-items: 0;
}
/* 목표 제목 */
.goals_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 100px;
    margin-right: 50px;
    height: 10px;
}
/* 목표단락 */
.goals{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 80px;
    height: 10px;
}
.card-body {
    text-align: center; /* 텍스트 가운데 정렬 */
}
/* 코멘트 제목 스타일 */
.comment_title {
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bold;
    font-size: 35px;
    margin-top: 150px;
    margin-bottom: 45px;
    margin-left: 15px;
    height: 10px;
}
/* 코멘트 입력창 스타일 */
.comment_box {
    background-color: #f9f9f9; /* 코멘트 배경색 */
    padding: 8px; /* 안쪽 여백 */
    border: 1px solid #ddd; /* 테두리 */
    border-radius: 3px; /* 테두리 둥글게 */
    max-width: 98%; /* 최대 너비 지정 */
    width: 100%; /* 너비 100% 설정 */
}
/* 코멘트 스타일 */    
.comment {
    background-color: #f9f9f9; /* 코멘트 배경색 */
    padding: 8px; /* 안쪽 여백 */
    margin-bottom: 8px; /* 아래 여백 */
    border: 1px solid #ddd; /* 테두리 */
    border-radius: 3px; /* 테두리 둥글게 */
    max-width: 98%; /* 최대 너비 지정 */
}
.comment-body {
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

/* footer 스타일 */
footer {
    text-align: center;
    padding-bottom: 10px 0;
    background-color: #333;
    color: #fff;
    position: sticky;
    bottom: 0;
    width: 100%;
}